// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

// Variables
@import 'variables';

.btm:focus {
    box-shadow: none;
}

.dt-buttons {
    display: none!important;
}

p {
    color: #949494;
}

#show-lang {
    display: none;
}

#catalog {
    padding:40px 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

.float-social {
    position:fixed;
    bottom:0px;
    right: 30px;
    margin:0;
    padding:0;
    z-index: 99;

    li {
        list-style-type: none;
        position: relative;
        margin-bottom: 16px;

        &::before {
            content: '';
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            background-color:$green;
            width: 40px;
            height: 40px;
            border-radius:50%;
            z-index: -1;
        }

        a {

            i {
                font-size: 24px;
                color:$white;
            }

        }
    }
}

* {
    transition: all 0.2s ease;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn {
    height: inherit;
    background-color: #5cb23c;
    border:0;
    text-transform: uppercase;
    font-weight: 600;
}

.p-relative {
    position: relative;
}

.container {
    max-width: 75%;
}

#menu-mobile {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color:black;
    padding:10px 0;

    img {
        width: 160px;
    }

    #click-mobile {
        top: 50%;
        position:relative;
        transform: translate(0,-50%);
        float: right;
        color: white;
        font-size: 40px;
    }
}

#navbar {
    background-color: black;
    padding:10px 0;

    .lang-inline {
        padding:0;
        margin-bottom:5px;

        li {
            display: inline-block;
            color: $green;
            margin-right: 5px;
            font-weight: 600;

            a {
                font-weight: 600;
                color: $green;
                font-size: 14px;
            }
        }
    }

    &.margin {
        margin-right: 0;
    }

    &.fixed {
        position:fixed;
        top:0;
        width: 100%;
        left: 0;
        z-index: 900;
        padding:5px 0;
        border-bottom: 3px solid #353535;

        .logo {
            max-width: 70%;
        }
    }

    .logo {
        max-width: 80%;
    }

    .nav-bar {
        padding:0;
        position: relative;
        top:50%;
        transform: translate(0,-50%);
        z-index: 9999;
        text-align: right;

        a {
            position:relative;

            &:hover::before {
                width: 90%;
                transition: all 0.2s ease;
            }

            &::before {
                transition: all 0.2s ease;
                content: '';
                position:absolute;
                bottom:3px;
                left:50%;
                transform: translate(-50%,0);
                width: 0%;
                height: 3px;
                background-color:$green;
            }
        }

        .sub-menu {
            display: none;
            position:absolute;
            width: 200px;
            padding:5px;
            left:0;
            background-color:white;
            border-radius: 10px;

            li {
                display: block;
            }

            a {
                padding:6px 8px;
                color: #333;
                font-size: 14px;
                text-align: left;

                i {
                    color: $green;
                    font-size: 0px;
                }

                &:hover {
                    color: black;
                    position:relative;

                    &::before {
                        display: none;
                    }

                    i {
                        font-size: 12px;
                        transition: all 0.2s ease;
                        display: inline-block;
                    }
                }
            }
        }

        li {
            display: inline-block;
            position: relative;

            &:hover {
                .sub-menu {
                    display: block;
                }
            }

            a {
                font-size: 17px;
                padding:5px 8px;
                display: block;
                color: white;

                &:hover {
                    color: #ececec;
                    text-decoration: none;
                }
            }
        }
    }

    #form-lang {
        position:relative;
        top:50%;
        transform: translate(0,-50%);

        .form-control {
            font-size: 12px;
        }
    }

    .search-top {
        position: relative;

        .form-control {
            padding:20px;
            border:0;
            font-size: 13px;
        }

        .btn-search {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            position: absolute;
            right: 2px;
            top:50%;
            margin:0;
            color:white;
            border:0;
            background-color: $green;
            padding: 8px;
            height: inherit;
            transform: translate(0,-50%);

            &:hover {
                background-color:#4b982f;
                color: white;
            }
        }
    }
}

//Widget
.widget {
    padding:20px;
    background-color: #ececec;
    border-radius: 0;
}

.widget-category {
    ul {
        padding:0;

        li {
            list-style-type: none;
        }
    }
}

#home {
    #slide {

        .owl-navs {
            position: absolute;
            bottom:20px;
        }
    }

    #info {
        background-size:cover;
        background-repeat: no-repeat;
        padding-top: 100px;
        padding-bottom: 30px;
        position: relative;

        h5 {
            color: $green;
            font-weight: 700;
        }

        h3 {
            color: $white;
            font-size: 40px;
            font-weight: 900;

            span {
                font-weight: 900;
                color: $green;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(22,22,22);
            background: linear-gradient(0deg, rgba(22,22,22,1) 0%, rgba(255,255,255,0) 100%);
        }

        h2 {
            color: $white;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 50px;
        }

        .cube {
            margin:30px 0;
            display: block;
            border-radius:5px;
            cursor: pointer;
            position: relative;
            transition: all 0.2s ease;

            &:hover {
                margin-top: 20px;
                transition: all 0.2s ease;

                i,h4 {
                    color:white;
                }
            }

            i {
                color: $white;
                font-size: 70px;
                color:$green;
            }

            h4 {
                text-align: center;
                color: $green;
                margin-top: 20px;
                font-size: 18px;
                font-weight: 700;
            }
            
        }

        .owl-promo {
            margin-top:50px;

            .owl-nav {
                position: absolute;
                z-index: 999;
                top:50%;
                width: 100%;
                transform: translate(0,-50%);

                .owl-next {
                    position: absolute;
                    right: 20px;
                    top: -50px;
                    background-color:white;

                    &:hover {
                        background-color:$green;

                        span {
                            color: white;
                        }
                    }
                    
                    span {
                        padding:20px;
                    }
                }

                .owl-prev {
                    position: absolute;
                    left: 20px;
                    top: -50px;
                    background-color:white;

                    &:hover {
                        background-color:$green;

                        span {
                            color: white;
                        }
                    }

                    span {
                        padding:20px;
                    }
                }
            }

            .item {
                &:hover {
                }
            }

            .img {
                height: 340px;
                border-radius: 10px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    #info2 {

        .text {
            padding:180px 0;
            text-align: center;
            max-width: 80%;
            margin:0 auto;

            h3 {
                font-size: 39px;
                color: $white;

                span {
                    font-weight: 900;
                    color: $green;
                }
            }
        }

        p {
            font-size: 17px;
        }

        .bg-black {
            background-color: #161616;
        }

        .img {
            position: relative;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

#business-line {
    text-align: center;

    #header {
        padding:80px 0;
        background-repeat: no-repeat;
        background-size:cover;
        
        h1 {
            color:$white;
            font-size: 45px;
        }
    }

    h4 {
        color: $green;
    }

    #info1,#info4 {
        background-color: #eaeaea;
        padding:80px 0;

        h2 {
            font-size: 39px;
            color: $green;
        }
    }

    #info5 {
        padding:80px 0;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            position: relative;
            color: #949494;

            &::before {
                top:8px;
                margin-left: -10px;
                position: absolute;
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #949494;
            }
        }
    }

    #info2,#info4,#info6 {
        padding: 80px 0;

        h2 {
            font-size: 39px;
            color: $green;
        }
    }

    p {
        font-size: 17px;
    }
}

#flipbook {
    position: relative;
    width: 100%;
    height: 768px;
}

#services {
    #header {
        padding:80px 0;
        background-repeat: no-repeat;
        background-size:cover;
        margin-bottom: 20px;
        
        h1 {
            color:$white;
            font-size: 45px;
        }
    }

    #info1 {

        .text {
            padding:70px 0;

            h3 {
                color: $green;
                font-size: 35px;
                margin-bottom: 30px;
                font-weight: 900;
            }

            p {
                text-align: justify;
                font-size: 17px;
            }
        }

        .img {
            background-size: cover;
            background-repeat:no-repeat;
            height: 100%;
        }
    }
}

#about {
    
    #header {
        padding:80px 0;
        background-repeat: no-repeat;
        background-size:cover;
        
        h1 {
            color:$white;
            font-size: 45px;
        }
    }

    #info {
        padding:50px 0;
    }

    h1 {
        color: $green;
        font-weight: 900;
    }

    p {
        font-size: 17px;
        text-align: justify;
    }

    .icon {
        text-align: center;
        margin:25px 0;
        display: block;

        .img {
            width: 150px;
            height: 150px;
            border-radius:50%;
            margin:0 auto;
            background-size: cover;
            background-position: center;
            background-repeat:no-repeat;
        }

        h4 {
            margin-top: 10px;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

#contact {
    padding:50px 0;

    .fa-whatsapp {
        margin: 0!important;
    }

    h1 {
        margin:30px 0;
        font-size: 35px;
        text-align: center;
        color: $green;
    }

    #form {
        background-color: #ececec;
        padding:25px;

        label {
            font-weight: 600;
        }

        .btn-submit {
            width: 100%;
            color: $white;
            padding:10px;
            border-radius: 0;
        }

        .form-control {
            border-radius: 0;
            height: auto;
        }
    }

    .icon {
        border:1px solid #ececec;
        text-align: center;
        height: 260px;
        margin:30px 0;
        padding:20px;

        .text {
            top:50%;
            position: relative;
            transform: translate(0,-50%);
        }

        i {
            color: $green;
            margin-bottom: 20px;
        }

        h4 {
            text-transform: uppercase;
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }

        ul {
            padding:0;

            li {
                list-style-type: none;
            }
        }
    }
}

//Search product
#header-product {
    padding:80px 0;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2 {
        color: $white;
    }
}

#search-product {
    padding:30px 0;
}

//Product single
#single-product {
    padding-bottom: 30px;

    #form {
        background-color: #ffffff;
        padding: 25px;
        box-shadow: 0px 0px 10px rgb(1 1 1 / 20%);
        border-radius: 10px;

        label {
            font-weight: 600;
        }

        .btn-submit {
            width: 100%;
            color: $white;
            padding:10px;
            border-radius: 5px;
        }

        .form-control {
            border-radius: 4px;
            background-color: #f7f7f7;
        }
    }

    #header {
        padding:20px 0;
        background-color: $green;
        margin-bottom: 30px;

        .breadcrumb-product {
            background-color: none;
            padding:0;
            margin:0;
            float: left;

            li {
                display: inline-block;
                padding:0;
                margin:0;

                span {
                    color: white;
                    margin:0 6px;
                }

                a {
                    display: inline-block;
                    color: white;

                    &:hover {
                        text-decoration: none;
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    .owl-single {
        .item {
            background-color: white;

            .img {
                height: 440px;
                width:100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .info {
        top: 50%;
        transform: translate(0,-50%);
        position: relative;

        h1 {
            font-weight: 600;
            color: $green;
            line-height:43px;
            margin-bottom: 0;
        }

        .price {
            font-size:24px;
            font-weight: 700;
        }

        h5 {
            font-size: 16px;
        }

        .colors {
            padding: 0;
            margin:0;

            li {
                display: inline-block;

                .circle {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid #dbdbdb;

                    &.active {
                        border:2px solid white;
                        box-shadow:1px 1px 10px rgba(1,1,1,0.5);
                    }
                }
            }
        }

        .sku {
            color: black;
            border-radius: 10px;
            font-size: 15px;
            display: inline-block;
            margin:5px 0;
        }

        p {
            font-size: 17px;
            line-height:23px;
            margin-bottom: 10px;

            strong {
                font-weight: 700;
            }
        }

        h4 {
            margin-top: 20px;
            font-weight: 600;
            font-size: 18px;
        }

        .fda {
            max-width: 230px;
        }
    }
}

#additional-info {
    //background-color:#33363d;
    color: white;
    padding:50px 15px;

    h2 {
        font-weight: 700;
        color:black;
    }

    table {
        border:1px solid white;
    }

    tr > td:first-child {
        background-color: #5cb23c;
        border: 0;
        color: white;
        width: 24%;
        font-weight: 600;
    }

    tr > td:last-child {
        color: black;
        padding: 3px 10px;
        border:1px solid black;
    }
}

#sub-footer {
    background-color:$black;
    padding:50px 0;

    .logo {
        max-width: 70%;
        display: block;
        margin:0 auto;
        margin-bottom: 12px;
    }

    .brands {
        max-width: 210px;
        display: block;
        margin:0 auto;
    }

    .info {
        position:relative;
        top: inherit;
        transform: inherit;
    }

    h3 {
        color: #fff;
        font-weight: 600;
        font-size: 20px;;
    }

    ul {
        padding-left: 10px;

        &.logo-brands {

            li {
                list-style-type: none;
                display: inline-block;
            }

        }

        &.points {

            li {
                list-style-type: none;
                position:relative;
                line-height:16px;

                &::before {
                    content: '';
                    position:absolute;
                    width: 7px;
                    height: 7px;
                    left:-12px;
                    border-radius: 50%;
                    top:50%;
                    transform: translate(0,-50%);
                    background-color: $green;
                }

                a {
                    font-size: 13px;
                    font-weight: 300;
                    color: #fff;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

//Products
a {
  color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.item-product {
    margin-bottom: 30px;
    border: 1px solid #ececec;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 5px 20px rgba(1,1,1,0.2);
    }

    .img {
        height: 230px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center center;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.35057773109243695) 0%, rgba(255,255,255,0.4542191876750701) 100%);
        }

        .text {
            position: absolute;
            bottom:0;
            left:0;
            color: white;
            font-size: 19px;
            font-weight: 600;
            line-height: 25px;
            padding:15px 25px;
        }

        .sku {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: $green;
            color: white;
            font-size: 11px;
            padding:5px 15px;
            border-radius: 5px;
        }
    }

    .info {
        padding:15px 20px;
    }

    h3 {
        font-weight: 700;
        font-size: 17px;
    }

    .price {
        font-weight: 600;
        font-size: 16px;
    }

    .btn {
        color: white;

        &:hover {
            background-color: #5ec737;
        }
    }
}

footer {
    background-color: #33363f;
    color:#fff;
    padding:5px 0;
    text-align: center;

    .container-fluid {
        max-width: 80%;
    }

    p {
        margin: 0;
    }

    ul {
        padding:0;
        margin:0;
        text-align: center;

        &.social {
            li {
                margin-right:6px;
            }

            a {
                &:hover i {
                    opacity: 0.9;
                    color:#fff;
                }
            }

            i {
                font-size: 20px;;
            }
        }

        li {
            display: inline-block;

            a {
                color: #fff;
                font-size: 13px;

                &:hover {
                    color:#fff;
                    opacity: 0.8;
                }
            }
        }
    }
}

@media only screen and (max-width : 1450px) {
    #navbar .nav-bar li a {
        font-size: 15px;
        padding: 5px;
    }
}

@media only screen and (max-width : 1366px) {

    #info-product {
        max-width: 90%;
    }

    #navbar {
        .container {
            max-width: 100%;
        }
    }

    #home #info .cube h4 {
        font-size: 16px;
    }

    #navbar .nav-bar li a {
        font-size: 16px;
    }

    #sub-footer {
        .container {
            max-width: 90%;
        }
    }

}

@media only screen and (max-width : 1200px) {

    footer {
        text-align: center;
    }

    #services #info1 .text h3 {
        font-size: 25px;
    }

    #business-line {
        .container {
            max-width: 90%;
        }
    }

    #home #info2 .text h3 {
        font-size: 30px;
    }

    #navbar .nav-bar li a {
        font-size: 14px;
        padding:3px;
    }
}

@media only screen and (max-width: 992px) {

    #single-product .info {
        top: inherit;
        transform: inherit;
        margin:30px 0;
    }

}

@media only screen and (max-width : 991px) {

    #services #info1 .text {
        padding:70px
    }

    #services #info1 .text h3 {
        text-align: center;
        font-size: 30px;
    }

    #services #info1 .img {
        height: 290px;
    }

    #home #info2 .img {
        height: 280px;
    }

    footer {
        text-align: center;
    }

    #home #info h2 {
        font-size: 30px;
    }

    #navbar .logo {
        display: none;
    }

    #navbar {
        margin-right: -250px;
        width: 250px!important;
        position: fixed!important;
        top:0!important;
        height: 100%!important;
        right: 0!important;
        z-index:100!important;
        left: inherit!important;
        overflow-x: scroll;
    }

    #menu-mobile {
        display: block;
    }

    #navbar .nav-bar li {
        display: block;
    }

    #navbar .nav-bar i {
        display: none;
    }

    #navbar .nav-bar li a {
        font-weight: 600;
        text-align: left;
    }

    #navbar .nav-bar .sub-menu {
        padding: 0;
    }

    #navbar .nav-bar .sub-menu {
        display: block;
        position: relative;
        width: inherit;
        padding: 5px;
        left: 0;
        background-color: transparent;
        border-radius: 10px;
        text-align: left;

        .fa-chevron-down {
            display: none;
        }

        a {
             text-align: left;
             color:#ececec;
             font-size: 12px;
             padding:0;
        }
    }

}

@media only screen and (max-width : 768px) {

    #contact .icon {
        margin:10px 0;
    }

    #additional-info {

        h2 {
            font-size: 25px;
        }

        .container {
            max-width: 100%;
        }
    }

    #search-product {
        .container {
            max-width: 90%;
        }
    }

    #info {
        .container {
            max-width: 90%;
        }
    }

    #home #info .cube h4 {
        font-size: 14px;
    }
}

@media only screen and (max-width : 480px) {

    #business-line #header h1 {
        font-size: 30px;
    }

    #business-line p {
        font-size: 15px;
    }

    #business-line #info1, #business-line #info3, #business-line #info5 {
        padding:30px 0;
    }

    #business-line #info1 h2, #business-line #info3 h2, #business-line #info5 h2 {
        font-size: 29px;
    }

    #menu-mobile {
        .container {
            max-width: 100%;
        }
    }

    #home #info h2 {
        margin-bottom: 10px;
    }

    #home #info {
        padding:50px 0;
    }

    #home #info h2 {
        font-size: 20px;
    }

    #home #info .cube {
        margin:10px 0;
    }

    #sub-footer .info {
        img {
            max-width: 250px;
            display: block;
            margin:0 auto;
        }
    }

}

@media only screen and (max-width : 320px) {
}